/**
创建小三角
*/
@mixin create-triangle($direaction:'left',$height:16px,$distant:18px) {
  &::before{
    content: "";
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    display: inline-block;
    overflow: hidden;
    width: $height;

    @if $direaction == 'left' {
      top: $distant;
      height: $height;
      left: -$height/2;
      right: initial;
    }
    @else if $direaction == 'top' {
      left: $distant;
      height: $height;
      top: -$height/2;
      bottom: initial;
    }
    @else if $direaction == 'right' {
      top: $distant;
      height: $height;
      right: -$height/2;
      left: initial;
    }
    @else if $direaction == 'bottom' {
      left: $distant;
      height: $height;
      bottom: -$height/2;
      top: initial;
    }
    
    background-color: inherit;
    filter: blur(5rpx);
    opacity: 0.3;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  &::after{
    content: "";
    transform: rotate(45deg);
    position: absolute;
    z-index: 100;
    display: inline-block;
    overflow: hidden;
    width: $height;

    @if $direaction == 'left' {
      top: $distant;
      height: $height;
      left: -$height/2;
      right: initial;
    }
    @else if $direaction == 'top' {
      left: $distant;
      height: $height;
      top: -$height/2;
      bottom: initial;
    }
    @else if $direaction == 'right' {
      top: $distant;
      height: $height;
      right: -$height/2;
      left: initial;
    }
    @else if $direaction == 'bottom' {
      left: $distant;
      height: $height;
      bottom: -$height/2;
      top: initial;
    }

    background-color: inherit;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@mixin crete-small-triangle() {
  &::before{
    position: absolute;
    left: 40%!important;
    transform: translate(-40%);
    bottom: -44px;
    width: 0;
    height: 0;
    left: auto;
    border-left: 8px solid transparent;  /* 左边框的宽 */
    border-right: 8px solid transparent; /* 右边框的宽 */
    border-bottom: 8px solid red; /* 下边框的长度|高,以及背景色 */
    font-size: 0;
    line-height: 0;
  }
  &::after{
    position: absolute;
    left: 40%!important;
    transform: translate(-40%);
    bottom: -42px;
    width: 0;
    height: 0;
    left: auto;
    border-left: 8px solid transparent;  /* 左边框的宽 */
    border-right: 8px solid transparent; /* 右边框的宽 */
    border-bottom: 8px solid red; /* 下边框的长度|高,以及背景色 */
    font-size: 0;
    line-height: 0;
  }
}