/**
创建小三角
*/
@mixin create-small-triangle($direaction:'left',$height:16px,$distant:18px) {
  &::before{
    content: "";
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    display: inline-block;
    overflow: hidden;
    width: $height;
    height: $height;

    @if $direaction == 'left' {
      top: $distant;
      left: -$height / 2;
      right: initial;
    }
    @else if $direaction == 'top' {
      left: $distant;
      top: -$height / 2;
      bottom: initial;
    }
    @else if $direaction == 'right' {
      top: $distant;
      right: -$height / 2;
      left: initial;
    }
    @else if $direaction == 'bottom' {
      left: $distant;
      bottom: -$height / 2;
      top: initial;
    }
    
    background-color: inherit;
    filter: blur(5rpx);
    opacity: 0.3;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  &::after{
    content: "";
    transform: rotate(45deg);
    position: absolute;
    z-index: 100;
    display: inline-block;
    overflow: hidden;
    width: $height;

    @if $direaction == 'left' {
      top: $distant;
      height: $height;
      left: -$height / 2;
      right: initial;
    }
    @else if $direaction == 'top' {
      left: $distant;
      height: $height;
      top: -$height / 2;
      bottom: initial;
    }
    @else if $direaction == 'right' {
      top: $distant;
      height: $height;
      right: -$height / 2;
      left: initial;
    }
    @else if $direaction == 'bottom' {
      left: $distant;
      height: $height;
      bottom: -$height / 2;
      top: initial;
    }

    background-color: inherit;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
/**
创建小三角
*/
@mixin create-triangle($height:16px,$direaction:'left',$distant:50%,$border-line-px:'') {
  &:after {
    content: '';
    position: absolute;
    width: $height;
    height: $height;
    display: inline-block;
    vertical-align: middle;
    transform-origin: center;
    transform: translateY(-1px) rotate(45deg);
    background-color: inherit;
    overflow-x: hidden;
    overflow-y: hidden;
    // z-index: 10;
    
    @if $direaction == 'left' {
      left: -$height/2;
      top: $distant;
      @if $border-line-px !='' {
        border-bottom: $border-line-px solid $black;
        border-left: $border-line-px solid $black;
      }
    }
    @else if $direaction == 'top' {
      top: -$height/2;
      left: $distant;
      @if $border-line-px !='' {
        border-left: $border-line-px solid $black;
        border-top: $border-line-px solid $black;
      }
    }
    @else if $direaction == 'right' {
      right: -$height/2;
      top: $distant;
      @if $border-line-px !='' {
        border-top: $border-line-px solid $black;
        border-right: $border-line-px solid $black;
      }
    }
    @else  {
      bottom: -$height/2;
      left: $distant;
      @if $border-line-px !='' {
        border-bottom: $border-line-px solid $black;
        border-right: $border-line-px solid $black;
      }
    }
  }
}